<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - LanDouban</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-3.3.1.min.js")"></script>
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/jk-rating-stars.min.js"></script>
    <script src="~/Scripts/app.js"></script>
    <script src="@Url.Content("~/Scripts/modernizr-2.6.2.js")"></script>
    <link href="~/Content/jk-rating-stars.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("LanDouban", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("首页", "Index", "Home")</li>
                    <li>@Html.ActionLink("分类", "Movie", "Home")</li>
                    <li>@Html.ActionLink("搜索", "Search", "Home")</li>
                    <li id="user"></li>
                    <li id="manage"></li>
                    <li>@Html.ActionLink("开发者", "Contact", "Home")</li>
                </ul>
                <ul class="nav navbar-nav pull-right">
                    <li id="btnRegister">@Html.ActionLink("注册", "Register", "Register")</li>
                    <li id="btnLogin">@Html.ActionLink("登录", "Login", "Login")</li>
                    <li><a id="btnName"></a></li>
                    <li id="btnLogoff">@Html.ActionLink("退出", "Index", "Home")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer class="text-center">
            <p>&copy; @DateTime.Now.Year - BinGo Team</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script>
        $(document).ready(function () {
            if (sessionStorage.getItem('loginStatus') == null) {
                $('#btnLogoff').addClass('hidden');
                $('#btnName').addClass('hidden');
                $('#btnRegister').removeClass('hidden');
                $('#btnLogin').removeClass('hidden');
            } else {
                $('#user').append('@Html.ActionLink("我的", "User", "Home")');
                if (sessionStorage.getItem('role') === "1") {
                    $('#manage').append('@Html.ActionLink("管理", "Manage", "Home")');
                }
                $('#btnRegister').addClass('hidden');
                $('#btnLogin').addClass('hidden');
                $('#btnLogoff').removeClass('hidden');
                $('#btnName').removeClass('hidden');
                $('#btnName').text("您好，"+ sessionStorage.getItem('username'));
            }
            $('#btnLogoff').click(function () {
                sessionStorage.removeItem('loginStatus');
                sessionStorage.removeItem('username');
                sessionStorage.removeItem('role');
            });
        })
    </script>
</body>
</html>
